[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - TheLastBanana/gridworld: A tkinter-based gridworld implementation.
Comment=
Icon=user-bookmarks
URL=https://github.com/TheLastBanana/gridworld
Name[en_AU]=GitHub - gridworld implementation.
